<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Menu de Pessoas</title>
    <link rel="stylesheet" href="/style/basic.css" />
  </head>
  <body>
    <div id="conteiner-all">
      <div id="nav-bar-conteiner">
        <nav id="nav-bar">
          <a class="nav-home" href="/home.html">Home</a>
          <a class="nav-link" method="GET" href="/views/pessoas/menu.html"
            >Pessoas</a
          >
          <a class="nav-link" href="/views/cartoes.html">Cartões</a>
          <a class="nav-link" href="/views/compras.html">Compras</a>
          <a class="nav-link" href="/views/faturas.html">Faturas</a>
        </nav>
      </div>
      <div id="conteiner-menu-items">
        <table id="people-list">
          <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Delete</th>
          </tr>
        </table>
      </div>
      <div id="people-actions">
        <button id="new-person">+</button>
      </div>
    </div>
    <script src="/scripts/compras/function.js"></script>
  </body>
</html>
